@import "tailwindcss";

@theme {
  --color-primary: #22d3ee;
  --color-secondary: #f472b6;
  --color-accent: #3b82f6;
  
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-surface-hover: #334155;
  
  --color-text-main: #ffffff;
  --color-text-muted: #94a6b8;
  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;

  --font-display: sans-serif;
}