@import "tailwindcss";

@theme {
  /* Definimos nuestra paleta semántica */
  --color-primary: #22d3ee;    /* cyan-400 */
  --color-secondary: #f472b6;  /* pink-400 */
  --color-accent: #3b82f6;     /* blue-500 */
  
  --color-background: #0f172a; /* slate-900 */
  --color-surface: #1e293b;    /* slate-800 */
  --color-surface-hover: #334155; /* slate-700 */
  
  --color-text-main: #ffffff;
  --color-text-muted: #94a6b8; /* slate-400 */

  /* También podés definir fuentes o animaciones personalizadas aquí */
  --font-display: "Inter", sans-serif;
}

/* Variables para manejar "Modo Claro" o Temas alternativos (Opcional) */
.theme-retro {
  --color-primary: #f59e0b;    /* amber-500 */
  --color-secondary: #10b981;  /* emerald-500 */
  --color-background: #f8fafc;
  --color-text-main: #0f172a;
}